.center{
  text-align: center;color: blue;
}
.col{
  color: aqua;
}
.back{
  background-image: image();
}
.App{
  height: 100%;
  position: absolute;
  left: 0;
  width: 100%;
  overflow: hidden;
}
.backgraoundImg{
  width: 100% !important;
  height: 99vh !important;
  background-size: 100%;
  background-repeat: no-repeat, repeat;
  background-image: url('./Assets/Images/programBg.jpg')
}
.backgraound{
  width: 100% !important;
  height: 99vh !important;
  background-size: 100%;
  background-repeat: no-repeat, repeat;
  background-color: #5C4B62    ;
}

@media screen and (max-width: 600px) {
.backgraoundImg {
  width: 100% !important;
  height: 100vh !important;
  background-size: cover;
  background-repeat: no-repeat;
  background-image: url('./Assets/Images/mobileprogramBg.jpg')
}
}


